table {
    width: 80%;
}

.form-control {
    margin: 5px;
}

.col-xs-6 {
    margin: 5px;
    border: 1px solid black;
}

body {
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Fira Sans', sans-serif;
}